body{
    margin-top: 40px;
    padding: 0;
    /* background-color: black; */
    background-image: url("../images/dash1.jpg");
    background-size: cover;
    line-height: 150%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}

h2{
    color: aliceblue;
    text-align: center;
}

#pageContainer{
    position: relative;
    margin: 0 auto;
    width:900px;
    height: 500px;
    /* background-color: gray; */
}

#questionContainer{
    margin: 0px auto;
    background-color: aliceblue;
    width: 455px;
    height: 300px;
    border: 3px solid orange;
}

/* Media Queries */
@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){
    #questionContainer{
        margin-left: 15%;
    }
    h1{
        margin-left: 15%;
        width:400px;
    }
    h2{
        width:25px;
        margin-left: 38%;
    }
}

@media screen and (max-width: 640px){
    #questionContainer{
        margin-left: 7%;
    }
    h1{
        margin-left: 8%;
        width:400px;
    }
    h2{
        width:25px;
        margin-left: 30%;
    }
}